@charset "utf-8";
/* common style */
html{
    font-size: 20px;
    scroll-behavior: smooth;
}

body{
    font-family: "Montserrot", "Noto sans kr", sans-serif;
    font-size: .8rem;
}


/*design class*/


.container{
    max-width: 1320px;
}
.container-fluid{
    max-width: 100%;
}

.position-absolute{
    position:absolute;
}
.position-relative{
    position:relative;
}
.pos-bottom{
    background-color: rgba(0,0,0,.8);
    font-size: 1rem;
    color: #fff;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
}


.ml-auto{
    margin-left: auto;
}
.mx-auto{
    margin: 0 auto;
}

.d-none{
    display: none;
}

.d-flex{
    display: flex;
}

.fs-1{
    font-size: 1.6rem;
}

.fs-2{
    font-size: 1.5rem;
}

.fs-6{
    font-size: .65rem;
}

.my-1{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-2{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.py-1{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.pt-1{
    padding-top: 1rem;
}
.pt-5{
    padding-top: 5dvh;
}

.pb-5{
    padding-bottom: 5rem;
}

.gap-1{
    gap:1rem;
}
.gap-2{
    gap:2rem;
}
.gap-3{
    gap:3rem;
}

.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}

.fw-bold{
    font-weight: 600
}

.fw-bolder{
    font-weight: 900
}

.text-uppercase{
    text-transform: uppercase;
}
.text-lowercase{
    text-transform: lowercase;
}

.text-center{
    text-align: center;
}

.text-capitalize{
    text-transform: capitalize;
}

.items-center{
    align-items: center;
}

#gnb li a:hover,.links a:hover{
    color:#58c8f6;
}
#gnb li, .links{
    color: #fff;
}

.bg-header{
    opacity: 0.3;
    background-color: #000;
}

.img-fluid{
    max-width: 100%;
    height:auto;
    object-fit: cover;
}

.balloon{
    left:100px;
    top:100px
}

.slogan{
    left: 550px;
    top:350px;
}

.w1000{
    width: 1000px;
}

.co-contents{
    height: 515px;
    background-image: url("../images/coleftbg.jpg"), url("../images/corightbg.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: 500px 0, 0 0;
    position: relative;
}

.co-flight{
    position: absolute;
    top:10%;
    left: 50%;
    transform: translateX(-50%);
}
.co-text{
    position: absolute;
    width: 45%;
    right: 55%;
    top: 50%;
    font-size: .8rem;
    letter-spacing: -1px;   
    line-height: 1.7;
}

.bg-meeting{
    background: url("../images/bus_bg.jpg") no-repeat center scroll;
    background-size: cover;
    min-height: 500px;

    /* background-color: ;
    background-image: url();
    background-repeat: ;
    background-position: ;
    background-attachment: ;
    background-size: ;  한 번에 안쓰면 이렇게 쫙 다 써야한다.*/
}

.half-up{
    top: -27px;
}

.css-bg{
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 54%, rgba(252,176,69,1) 100%);
}