@charset "utf-8";


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html{
    font-size: 20px; 1rem의 기준이 됩니다
}

.bland_logo{
    display: flex;
    justify-content: center;
}









