@charset "utf-8";


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* layout common */

.d-flex{
    display: flex;
}

.flex-1{
    flex: 1;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.gap-1{
    gap: 1rem;
}
.gap-2{
    gap: 2rem;
}

.my-10{
    margin-top: 10px;
    margin-bottom: 10px;
}

.px-2{
    padding-left: 2rem;
    padding-right: 2rem;
}
.py-1{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.bg_blue{
    background-color: blue;
}
.text-white{
    color: white;
}
.rounded{
    border-radius: 50%;
}


/*--------------header top-------------------*/

.container{
    border-bottom: 1px solid gray;
    margin-bottom: 50px;
}

.items-center{
    align-items: center;
}

#header_top{
    margin: 0 auto;
    max-width: 1440px ;
}


.promotion{
    position: relative;
    /*background-color: orange;*/
    height: 335px;
}

.promo_model, .promo_bg{
    position: absolute;
}

.promo_model{
    right: 20%;
    z-index: 10;
}
.promo_bg{
    background-color: rgb(0, 111, 255);
    bottom:  0;
    width: 100vw; /*혹은 100%*/
    display: flex;
    justify-content: center;
}

html{
    font-size: 20px; 
}

.bland_logo{
    display: flex;
    justify-content: center;
}

#gnb{
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: black;
    color: white;
    height: 60px;
    align-items: center;
}

#gnb a:hover{
    color: #01ccff;
    text-decoration:underline;
}

a{
    text-decoration: none;
}

#snb{
    display: flex;
    justify-content:center ;
    height: 50px;
    align-items: center;
    background-color: #fafafa;
    color: #666;
    gap : 1rem;
    border: solid 1px gray;
}

.site-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}
.address , .copy-right{
    color: #999;
    font-size: 13px;
}

#fee, #cast{
    width: 600px;
    margin: 0 auto;
}

th, td {
    text-align: center;
    padding: 15px 0;
    vertical-align: middle;
}

caption{
    font-size: 18px;
    font-weight: bolder;
    text-align : center;
    margin-bottom: 10px;
}

table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}

#cast{
    margin-top: 50px;
    margin-bottom: 50px;
}

th{
    background-color: beige;
}



.contents h2{
    font-size: 20px; 
    margin: 20px;
} 

.mx_auto{
    margin: 0 auto;
} 

.w800{
    max-width: 800px;
}

/* 로그인 폼 */

.article_title{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

legend{
    /* font-size: 0px; */
    /* display: none; */
    position: absolute;
    left: -1000px;
}

input{
    border: 1px solid lightgray;
}

.w400{
    max-width:  400px;
}

label{
    width:100px;
    /* background-color: orange; */
}

.border{
    border: 1px solid blue;
}

.form_container{
    max-width: 600px; /* ~599px 이하는, 100%로 동작*/
    margin: 0 auto;
}

.border-1{
    border-width: 1px;
}

.solid-gray{
    border-color: gray;
    border-style: solid;
}

